<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <p>Cloud native technologies are instrumental in unlocking the power of cloud.
            It's a paradigm shift from traditional thinking around resiliency, and maintainability.
            Cloud native offers us scalable applications sympathetic to the turbulence often experienced in the cloud, and enables distributed patterns such as hybrid cloud architectures.</p>
	
        <h3>When our applications are cloud native — clouds can fail, and that's okay.</h3>

        <p><a href="https://landscape.cncf.io/">Cloud native is an ecosystem</a>. Containers, and Kubernetes sit at the heart of that ecosystem, but where to start? The cloud native syllabus is designed to chart a course through the cloud native ecosystem, and help us to unlock the power of cloud.</p>
</div> </div>

